.git
.github
.gitignore
pycache
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
tests/
pytest.ini
Tests
outputs.txt
log.txt
.venv/
.idea/
__pycache__/
*.log.*
*.log
log.*
Dockerfile
docker-compose.yml
README.md