name: Automated tests

on:
  pull_request:
    branches: [ main, master, dev ]

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USER }}/microservice-accounts

jobs:
  api-test:

    runs-on: ubuntu-latest

    env:
      MONGO_CONNECTION_STRING: ${{ secrets.MONGO_CONNECTION_STRING }}
      MONGO_DATABASE_NAME: ${{ secrets.MONGO_DATABASE_NAME }}

    strategy:
      matrix:
        python-version: [ '3.12' ]

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Python Setup ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Init API in background
        run: |
          uvicorn src.accounts.app:create_app --factory --host 0.0.0.0 --port 8000 &

          sleep 5

      - name: Exec Pytest
        run: |
          pytest -v

  build-and-push:
    runs-on: ubuntu-latest
    needs: api-test
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            MONGO_CONNECTION_STRING=${{ secrets.MONGO_CONNECTION_STRING }}
            MONGO_DATABASE_NAME=${{ secrets.MONGO_DATABASE_NAME }}
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}